/* ---------------------------------------------
  Basic styles
  ---------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font: 100%/1.5 'Work Sans', sans-serif;
  -webkit-transition: color .3s;
  transition: color .3s;
  background-color: #fff; }
  @media screen and (min-width: 790px) {
    html {
      font-size: 105%; } }

@media screen and (min-width: 1000px) {
  body {
    max-width: 1000px;
    margin: 0 auto; } }

h1 {
  font-size: 1.602rem; }

h2 {
  font-size: 1.424rem; }

h3 {
  font-size: 1.266rem; }

h4 {
  font-size: 1.125rem; }

img {
  max-width: 100%;
  max-height: 100%; }

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 1rem; }

abbr[title] {
  text-decoration: none; }

/* ---------------------------------------------
  Header
  ---------------------------------------------- */
header {
  text-align: center;
  padding: 0.2rem 0.5rem;
  border-bottom: 3px solid;
  -webkit-transition: background-color .3s;
  transition: background-color .3s; }
  header h1 {
    margin: 0; }

/* ---------------------------------------------
  Main
  ---------------------------------------------- */
/* -------------------------------
  Section - cats menu
  -------------------------------- */
.cats-list-section {
  padding: 1rem 0.5rem;
  text-align: center;
  background-color: #fff; }
  .cats-list-section h2 {
    position: absolute;
    left: -100rem; }
  .cats-list-section .cats-list {
    margin: 0;
    padding-left: 0;
    list-style-type: none; }
  .cats-list-section li {
    display: inline-block;
    margin: .5rem .3rem;
    font-size: 1.1rem; }
  .cats-list-section button {
    padding: .75rem 1rem;
    -webkit-transition-property: background-color, -webkit-box-shadow;
    transition-property: background-color, -webkit-box-shadow;
    transition-property: background-color, box-shadow;
    transition-property: background-color, box-shadow, -webkit-box-shadow;
    -webkit-transition-duration: .2s;
    transition-duration: .2s; }
  .cats-list-section button:hover,
  .cats-list-section button:focus {
    outline: none;
    text-decoration: underline;
    -webkit-box-shadow: 2px 2px 7px;
    box-shadow: 2px 2px 7px; }
  .cats-list-section .name-btn {
    position: relative;
    right: -4px;
    border: 2px solid; }
  .cats-list-section .remove-btn {
    position: relative;
    left: -4px;
    border: 2px solid;
    border-left: none; }

/* -------------------------------
  Section - cats view
  -------------------------------- */
.cat-view-section {
  padding: 1rem 0.5rem;
  text-align: center;
  -webkit-transition: background-color .3s;
  transition: background-color .3s; }
  .cat-view-section hgroup {
    display: inline-block;
    margin-right: 2rem; }
  .cat-view-section h2 {
    position: absolute;
    left: -100rem; }
  .cat-view-section h3.cat-name {
    margin: .5rem 0;
    font-size: 1.7rem; }
  .cat-view-section .cat-btn {
    color: inherit;
    display: block;
    margin: 1rem auto 0;
    width: 15rem;
    height: 15rem;
    border: 1px solid;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-transition-property: background-color, -webkit-box-shadow;
    transition-property: background-color, -webkit-box-shadow;
    transition-property: background-color, box-shadow;
    transition-property: background-color, box-shadow, -webkit-box-shadow;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    overflow: hidden; }
  .cat-view-section .cat-btn:hover,
  .cat-view-section .cat-btn:focus {
    outline: none;
    border: 2px solid;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 7px;
    box-shadow: 2px 2px 7px; }
  @media screen and (min-width: 790px) {
    .cat-view-section {
      float: left;
      width: 50%; } }

.cat-clicks-area {
  display: inline-block;
  padding: .5rem;
  border: 2px solid;
  border-radius: 1rem; }
  .cat-clicks-area h4 {
    margin: 0;
    font-weight: normal; }
  .cat-clicks-area h4,
  .cat-clicks-area span {
    font-size: 1.05rem;
    display: inline-block; }

/* -------------------------------
  Section - add cat
  -------------------------------- */
.cats-adding-section {
  padding: 1rem 0.5rem; }
  .cats-adding-section form {
    max-width: 25rem;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid;
    border-radius: 1rem;
    background-color: #fff; }
  .cats-adding-section input:not([type="color"]) {
    width: 70%; }
  .cats-adding-section h2 {
    margin: 0 0 .5rem; }
  .cats-adding-section .separator {
    display: inline-block;
    margin: .2rem 0; }
  .cats-adding-section #color-info {
    margin: .5rem 0; }
    .cats-adding-section #color-info li + li {
      margin-top: .4rem; }
  .cats-adding-section input#cat-imgfile {
    display: none; }
  .cats-adding-section .form-btn {
    display: inline-block;
    padding: .62rem .7rem;
    border: 2px solid;
    border-radius: 1rem;
    cursor: pointer;
    -webkit-transition-property: background-color, -webkit-box-shadow;
    transition-property: background-color, -webkit-box-shadow;
    transition-property: background-color, box-shadow;
    transition-property: background-color, box-shadow, -webkit-box-shadow;
    -webkit-transition-duration: .2s;
    transition-duration: .2s; }
  .cats-adding-section .form-btn:hover,
  .cats-adding-section .form-btn:focus {
    outline: none;
    text-decoration: underline;
    -webkit-box-shadow: 2px 2px 7px;
    box-shadow: 2px 2px 7px; }
  @media screen and (min-width: 790px) {
    .cats-adding-section {
      float: right;
      width: 50%; } }
  @media screen and (max-width: 790px) {
    .cats-adding-section {
      background-color: #fff !important; } }

form > div {
  margin-top: .7rem; }
  form > div label {
    display: inline-block;
    width: 60px;
    text-align: right; }

/* ---------------------------------------------
  Footer
  ---------------------------------------------- */
footer {
  text-align: center;
  padding: 1rem 0.5rem;
  clear: both;
  -webkit-transition: background-color .3s;
  transition: background-color .3s; }
  footer small {
    font-size: 1rem; }
  @media screen and (min-width: 790px) {
    footer {
      background-color: #fff !important; } }
